@model LocalStore.WebApp.Models.StoreModel

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Store | Tạo mới cửa hàng</title>
    <link rel="shortcut icon" type="image/svg" href="~/adminlte/img/poi.ico" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition login-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Cửa hàng</b>&nbsp;của tôi</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Thiết lập cửa hàng</p>

                <form id="createStoreForm">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Tên cửa hàng" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>                    
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.BusinessModel, new { @class = "form-control", @placeholder = "Loại hình kinh doanh" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Mô tả cửa hàng" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">

                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">Khởi tạo</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    <script>
        $(function () {
            $(document).ajaxStart(function () { Pace.restart(); });
            $('#createStoreForm').on("submit", function (e) {
                $.ajax({
                    type: "POST",
                    data: $(this).serialize(),
                    url: '@Url.Action("CreateStore")',
                    dataType: "json"
                }).done(function (res) {
                    if (res.Success) {
                        window.location.href = '@Url.Action("Index", "Login")'
                    }
                    else {
                        toastr.error(res.Message, '', {
                            positionClass: 'toast-top-center'
                        });
                    }
                });
                e.preventDefault();
            });
        });
    </script>
</body>
</html>
