@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <title>Trang chủ</title>
    <link rel="shortcut icon" type="image/svg" href="~/adminlte/img/poi.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image:url(../../adminlte/img/home-bg.jpg);
             background-repeat:no-repeat;
             background-size:cover;
             background-position:center">
    <div class="d-flex justify-content-center
                align-items-center"
            style="background-color: #0000003b;
                width: 100%; height: 100%">

        <div class="row"
                style="width: 600px">
            <div class="card-body border-0 bg-transparent col-md-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Kho vận</h3>
                        <p>Quản lý kho hàng</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-warehouse"></i>
                    </div>
                    <a href="@Url.Action("Index", "WareHouse")" class="small-box-footer">
                        Truy cập <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="card-body border-0 bg-transparent col-md-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Hàng hóa</h3>
                        <p>Quản lý bán hàng</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Truy cập <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
</body>
</html>
