@using LocalStore.WebApp.Resources

<div id="jsGrid"></div>

@section scripts
{
    <script>                
        $(function () {
            $("#jsGrid").jsGrid({
                width: "100%",
                height: "550px",

                inserting: true,
                editing: true,
                filtering: true,
                autoload: true,
                paging: true,
                pageLoading: true,
                //sorting: true,

                confirmDeleting: false,
                noDataContent: '@CommonString.NoDataContent',
                //loadMessage: '@CommonString.LoadMessage',
                //deleteConfirm: decodeURI('@CommonString.DeleteConfirm'),

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: '@Url.Action("LoadData")',
                            data: filter,
                            contentType: "application/json",
                            dataType: "json"
                        });
                    },

                    insertItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: '@Url.Action("InsertData")',
                            data: item,
                            dataType: "json"
                        }).done(function (res) {                            
                            if (!res.Success) {
                                toastr.error(res.Message, '',
                                {
                                    positionClass: 'toast-top-center'
                                });
                            }
                            else {
                                toastr.info(res.Message, '',
                                {
                                    positionClass: 'toast-top-center'
                                });
                            }
                            
                            $('#jsGrid').jsGrid('loadData');                            
                        });
                    },

                    updateItem: function (item) {
                        return $.ajax({
                            type: "GET",
                            url: '/WareHouse/UpdateData/' + item.Id,
                            data: item,
                            dataType: "json"
                        }).done(function (msg) {
                            if (!res.Success) {
                                toastr.error(res.Message, '',
                                {
                                    positionClass: 'toast-top-center'
                                });
                            }
                            else {
                                toastr.info(res.Message, '',
                                {
                                    positionClass: 'toast-top-center'
                                });
                            }

                            $('#jsGrid').jsGrid('loadData');
                        });
                    },

                    deleteItem: function (item) {
                        toastr.options = {
                            "closeButton": true,                            
                            "positionClass": "toast-top-center",                            
                            "timeOut": 0,
                            "extendedTimeOut": 0,
                            "tapToDismiss": false
                        };

                        toastr.error('@CommonString.DeleteConfirm' +
                                     '<br /><br /><button type="button" id="actionDelete" class="btn btn-light">' +
                                     '@CommonString.YesButtonContent' + '</button>', '',
                            {
                                onShown: function (toast) {
                                    $('#actionDelete').click(function () {
                                        toastr.options.closeButton = false;
                                        toastr.options.tapToDismiss = true;
                                        toastr.options.timeOut = 5000;
                                        toastr.options.extendedTimeOut = 1000;
                                        toastr.clear();
                                        $.ajax({
                                            type: "GET",
                                            url: '/WareHouse/DeleteData/' + item.Id,
                                            dataType: "json"
                                        }).done(function (res) {
                                            if (!res.Success) {
                                                toastr.error(res.Message);
                                            }
                                            else {
                                                toastr.info(res.Message);
                                            }

                                            $('#jsGrid').jsGrid('loadData');
                                        });
                                    });
                                },

                                onHidden: function () {
                                    toastr.options.closeButton = false;
                                    toastr.options.tapToDismiss = true;
                                    toastr.options.timeOut = 5000;
                                    toastr.options.extendedTimeOut = 1000;
                                }
                            });
                        
                    }
                },

                fields: [
                    { name: "Code", title: "Mã kho", type: "text", width: 150, editing: false },
                    { name: "Name", title: "Tên kho", type: "text", width: 150 },
                    { name: "Address", title: "Địa chỉ", type: "text", width: 300, filtering: false },
                    { name: "Description", title: "Mô tả", type: "text", width: 300, filtering: false },
                    { name: "Inactive", title: "Ngừng kích hoạt", type: "checkbox", width: 100 },
                    { type: "control"}
                ]
            });
        });
    </script>
}

